@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Logo.png" alt="TelegramMvc" class="floating"/>
    <br />
    <p class="text-light">Learn about <a href="https://github.com/akbarishahpar/TelegramMvc">building Telegram Bots flawlessly with ASP.NET Core MVC</a>.</p>
</div>
