<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TelegramMvc.Example</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        @@keyframes float {
            0% {
                transform: translateY(0px);
            }

            50% {
                transform: translateY(-10px); /* move up */
            }

            100% {
                transform: translateY(0px); /* back to original */
            }
        }

        img.floating {
            animation: float 2s ease-in-out infinite;
        }
    </style>
</head>
<body class="h-100 bg-dark">
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
