<b>Hello everyone!</b>
This is a sample bot developed to show how developers hot <a href="https://github.com/akbarishahpar/telegrammvc">TelegramMvc</a> framework may help to develop telegram bots easier and faster.